.upui-btn{
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.upui-primary-btn {
  background-color: #2574db;
  border: none;
  color: #fff;
  &:hover {
    background-color: #1666D0;
  }

  &:active {
    background-color: #0C5CC5;
  }

  &:focus {
    outline: none;
    border-radius:  4px;
    border: 2px solid #002A61;
    background-color: #1666D0;
  }
  .upui-btn-icon {
    width: 17px;
  }
  .upui-btn-image{
    width:22px;
  }
}
.upui-primary-btn-disabled{
  background-color: #B2BAC5 !important;
}
